.content h2,
.content h3 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}

.content h3 {
  font-size: 24px;
}

.content ul {
  height: 65vh;
  width: 80%;
  overflow-y: scroll;
}

.content ul li {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 98%;
  position: relative;

  border-radius: 8px;
  background-color: #e0e0e5;
}

.content #head {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.content #head a {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #5db889;
}

.content #head a span {
  display: flex;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url('../../assets/arrow-left.svg') no-repeat center;
  background-size: cover;
}

.content #head a#create {
  margin-right: 0%;
}

.content #head a#create span {
  background: url('../../assets/plus.svg') no-repeat center;
  background-size: cover;
  margin: 0 0 0 10px
}

.content ul li + li {
  margin-top: 15px;
}

.content ul li:nth-child(odd) {
  background-color: #dadae5;
}

.content ul li * {
  cursor: default;
}


.content ul li dl {
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}

.content ul li #event-data {
  flex: 1;
  margin: 8px 12px;
}

.content ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 100%;
  margin-left: 10px;
  font-weight: 600;

  border-radius: 0 4px 4px 0;
  background-color: #7dd3a0;
  cursor: pointer;
  transition: filter .8s;
}

.content ul li a:hover {
  filter: brightness(108%);
}
